
                <br clear="all" />
            </div>
        </div>
        <div id="footer-container">
        	<div id="footer">
            	<div id="footer-left">
                	<h4>Mechanical repairs to your car or truck.<br>
                        On-Site . . . home or business.</h4>
                    <p>Minor repairs done at your location, or if major repairs are needed, we can handle them at our facility here in Belvedere, SC 29841. Tow service is available.<br/><span>Call David at: 803-270-5819</span></p>
                </div>
                <div id="footer-right">
                	
                </div>
                <br clear="all" />
            </div>
        </div>
    </body> 

</html>