<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	{% include head.html %}

    <body>
    	<div id="header-container">
            <div id="header">
                <div id="clouds"></div>
                <div id="logo"><a href="/"><img src="images/logo.png" /></a></div>
                <div id="navigation">
                    <ul>
                        <li><a id="home" href="index.html">Home</a></li>
                        <li><a id="about" href="about.html">About</a></li>
                        <li><a id="services" href="services.html">Services</a></li>
                        <li><a id="contact" href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <br clear="all" />
            </div>
        </div>
        <div id="content-container">
            <div id="content">
